<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-pro"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img th:src="@{/images/1.jpg}" alt="user-img" class="img-circle"><span class="hide-menu">Mark Jeckson</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-wallet"></i> My Balance</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Settings</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Settings</span>
                    </a>
                    <ul class="collapse">
                        <li><a href="/settings/google-services">Google</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Google Services</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-files"></i>
                        <span class="hide-menu">Services</span>
                    </a>
                    <ul class="collapse">
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Gmail</a>
                            <ul class="collapse">
                                <li><a href="/gmail/send">Compose email</a></li>
                                <li><a href="/gmail/emails">All emails</a></li>
                                <li><a href="/gmail/emails/draft">Draft emails</a></li>
                                <li><a href="/gmail/emails/starred">Starred emails</a></li>
                                <li><a href="/gmail/emails/sent">Sent emails</a></li>
                                <li><a href="/gmail/emails/trash">Trash emails</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Google calendar</a>
                            <ul class="collapse">
                                <li><a href="/calendar/list-events">All events</a></li>
                                <li><a href="/calendar/create-event">Create an event</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Google Drive</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/drive/list-files">All files && Folders</a></li>
                                <li><a href="/drive/create-file">Create a file</a></li>
                                <li><a href="/drive/create-folder">Create a folder</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>