<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link th:href="@{/css/login-register-lock.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.toast.css}" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <title>CRM Admin Template - The Ultimate Multipurpose admin template</title>

    <!-- page css -->
    <link th:href="@{/css/login-register-lock.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.min.css}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Elite admin</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" th:style="'background:url(' + @{/images/login-register.jpg} + ');'">
<!--    <div th:if="${#fields.hasAnyErrors()}">-->
<!--        <ul>-->
<!--            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--        </ul>-->
<!--    </div>-->
    <div class="login-box card">
        <div class="card-body">
            <div class="alert alert-info"  th:if="${tokenError != null or passwordSetError != null}" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Information
                </h3><span th:if="${tokenError}" th:text="${tokenError}"></span><br>
                <span th:if="${passwordSetError}" th:text="${passwordSetError}"></span>
            </div>
            <form class="form-horizontal form-material text-center" id="loginform" th:action="@{/login}" method="post">
                <a href="javascript:void(0)" class="db"><img th:src="@{images/logo-icon.png}" alt="Home" /><br/><img th:src="@{/images/logo-text.png}" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
<!--                            <button class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>-->
                            <button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google"></i><a th:href="${home + 'oauth2/authorization/google'}"> Login with Google</a></button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Don't have an account? <a th:href="${home + 'register'}" class="text-primary m-l-5"><b>Sign Up as An employee</b></a>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Employees: Forgot your password? Reset it here, <a th:href="${home + 'change-password'}" class="text-primary m-l-5"><b>Change your password</b></a>
                    </div>
                </div>
                <div class="form-group m-b-0 m-t-30">
                    <div class="col-sm-12 text-center">
                        If you are a customer, please use this <a th:href="${home + 'customer-login'}" class="text-primary m-l-5"><b>link to login</b></a>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:inline="javascript">
    var home = /*[[${home}]]*/ null;
</script>
<script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript">></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/js/library/popper.min.js}" type="text/javascript">></script>
<script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript">></script>
<!--Custom JavaScript -->
<script th:src="@{/js/custom.js}" type="text/javascript">></script>
<script th:src="@{/js/library/jquery.toast.js}"></script>
<script th:src="@{/js/library/toastr.js}"></script>
</body>

</html>